.center.user-callout.promotion-callout
  .svg-container
    = custom_icon('icon_contribution_analytics')
  .user-callout-copy
    %h4
      - if current_application_settings.should_check_namespace_plan?
        = _('Upgrade your plan to activate Contribution Analytics.')
      - else
        = _('Track activity with Contribution Analytics.')
    %p
      = _('With contribution analytics you can have an overview for the activity of issues, merge requests and push events of your organization and its members.')
      = link_to _('Read more'), help_page_path('user/group/contribution_analytics/index.md'), target: '_blank'

    = render 'shared/promotions/promotion_link_project'
